body {
  background: #f5f5f5;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form {
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.inputs {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(196, 196, 196);
  transition: border 0.5s, box-shadow 0.15s;
  box-sizing: border-box;
}

.inputs:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 4px #b9d3fa;
}

.btn {
  cursor: pointer;
  font-size: 1.3rem;
  background: #0d6efd;
  border: none;
  border-radius: 25px;
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}

.group {
  margin: 1rem 0;
}

p {
  color: gray;
}
