.container {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: center;
}
img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .bigOne {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
