body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: #000;
}
a {
  text-decoration: none;
  color: white;
  font-size: 15pt;
}
ul {
  display: flex;
  padding: 0;
  justify-content: end;
}
li {
  float: left;
  padding: 1rem;
  list-style: none;
}
a:hover {
  color: dodgerblue;
}
@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
}
