<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, distinctio.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt corporis
        voluptas repudiandae tempora et asperiores expedita ratione, provident
        ea animi!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="img/easy.webp 1x, img/easy@2x.webp 2x"
      />
      <source type="image/png" srcset="img/easy.png 1x, img/easy@2x.png 2x" />
      <img class="feature__image" src="img/easy@2x.png" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt corporis
        voluptas repudiandae tempora et asperiores expedita ratione, provident
        ea animi!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="img/fast.webp 1x, img/fast@2x.webp 2x"
      />
      <source type="image/png" srcset="img/fast.png 1x, img/fast@2x.png 2x" />
      <img class="feature__image" src="img/fast@2x.png" alt="" />
    </picture>
  </article>
</section>
