body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: inter, "Courier New", Courier, monospace;
}

.card {
  width: 100%;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 0px 20px 30px #f9f9f9;
  border-radius: 30px;
  /* border: 1px solid black; */
  transform: rotate(-5deg);
  overflow: hidden;
  transition: all 0.2s linear;
}
.card:hover {
  transform: rotate(0deg);
}
.card:hover .bottom-card img {
  transform: scale(1.15);
  transition: 0.2s linear;
}
.bottom-card {
  background: linear-gradient(
    152deg,
    rgba(92, 191, 187, 1) 0%,
    rgba(116, 214, 144, 1) 50%
  );

  height: 6rem;
  display: flex;
  /* border-radius: 0 0 30px 30px; */
  align-items: center;
}

.card > p,
.bottom-card {
  padding: 0 20px;
}
.bottom-card img {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: 5px solid white;
}
.bottom-card p {
  text-align: center;
  margin: auto 10px;
  color: white;
}
