body {
  font-family: sans-serif;
  margin: 20px;
}

table,
td,
th {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #c4dcf3;

  border-collapse: collapse;
  padding: 10px;
}

thead,
tfoot {
  background-color: #427fef;
  color: #fff;
}
tbody tr:nth-child(odd) {
  background-color: #eef7ff;
}
