body {
  font-size: 62.5%;
}
:first-of-type {
  font-family: "PT Serif", Arial, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
}

h1,
h2 {
  font-family: Roboto, Courier, monospace;
}

li {
  font-family: "Noto Serif", Courier, monospace;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1140px;
}
